#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

### Packer ###
## Cache objects
packer_cache/

# file: ~/.gitignore_global
.DS_Store
.idea
*.pem
